@import '../core/Normalize.scss';
@import '../core/Reset';
@import '../core/Variables';
@import '../core/Global';

// REESCRIBE A PARTIR DE AQUÍ ^^

.app__container {
  width: 100%;
  min-height: 100vh;
  background-color: $col_black;

  color: #fff;
}
