@import '../core/Normalize';
@import '../core/Reset';
@import '../core/Variables';
@import '../core/Global';

.card {
  width: 300rem;
  padding: 50rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background: linear-gradient(180deg, #181818 0%, #000000 100%);
  border-radius: 8rem;

  @media (min-width: $break_point_tablet) {
    width: 220rem;
    padding: 16rem;
  }

  &:hover {
    cursor: pointer;
  }

  &__img {
    width: 100%;
    border-radius: 4rem;
    margin-bottom: 10rem;
  }

  &__title {
    font-size: 24rem;
    font-weight: $font_w_black;
    margin-bottom: 10rem;
  }

  &__director {
    font-size: 18rem;
    font-weight: $font_w_medium;
    margin-bottom: 10rem;
  }

  &__year {
    font-size: 16rem;
    font-weight: $font_w_medium;
    margin-bottom: 10rem;
  }

  &__line {
    font-size: 14rem;
    font-weight: $font_w_medium;
    margin-bottom: 10rem;
  }

  &__timestamp {
    font-size: 12rem;
    font-weight: $font_w_regular;
  }
}
