// FONTS
// $font_open: 'Open Sans', sans-serif;
// $font_w_regular: 400;
// $font_w_semibold: 600;
// $font_w_black: 900;

// COLORS
$col_white: #fff;
$col_black: #000;

// SIZES
$break_point_tablet: 768px;
$break_point_desktop: 1200px;

$max_width_tablet: 1000px;
$max_width_desktop: 1400px;
