// FONTS
$font_w_regular: 200;
$font_w_medium: 400;
$font_w_black: 600;

// COLORS
$col_white: #fff;
$col_white_02: rgba(255, 255, 255, 0.2);
$col_white_08: rgba(255, 255, 255, 0.8);
$col_black: #000;
$col_action: #9f1db9;

// SIZES
$break_point_tablet: 768px;
$break_point_desktop: 1280px;

$max_width_tablet: 1000px;
$max_width_desktop: 1400px;
